.app-wrapper {
    padding: 15px;
    min-height: 100vh;
}

.app-title {
    font-family: NHL;
    font-size: 3rem;
}

.welcome-text {
    text-align: center;
}

.tables-section {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background-color: aliceblue;
    border-radius: 20px;
}

.page-table-wrapper {
    width: 50%;
}

.prediction-wrapper {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
}

.prediction-img {
    border: solid 4px black;
    border-radius: 10px;
    width: 90px;
    margin: 10px;
    overflow: hidden;
}

.prediction-explanation {
    width: 50%;
}

.disclaimer-text {
    text-align: center;
    font-weight: bold;
    margin-top: 90px;
}

@media screen and (max-width: 1250px) {
    .tables-section {
        flex-flow: column;
    }
}

@media screen and (max-width: 1000px) {
    .prediction-wrapper {
        flex-flow: column;
        text-align: center;
        align-items: center;
    }
}